{% extends 'core/base2.html' %}
{% block page-title %}Noticia{% endblock %}
{% block page-subtitle %} {% endblock %}
{% block content %}
{% load static %}
  
  <!-- Start blog archive -->
  <section id="blog-archive">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-archive-area">
            <div class="row">
              <div class="col-md-8">
                <div class="blog-archive-left">
                  <!-- Start blog news single -->
                  <article class="blog-news-single">
                    <div class="blog-news-img">
                      <img src="{{blog.image.url}}" alt="image">
                    </div>
                    <div class="blog-news-title">
                      <h2>{{blog.title}}</h2>
                      <p>Por <a class="blog-author" href="{% url 'news:news' %}">{{blog.author}}</a> <span class="blog-date">|{{blog.created|date:"F d, Y"}}</span></p>
                    </div>
                    <div class="blog-news-details blog-single-details">
                      <p>{{blog.description|safe}}</p> 

                      <!--<blockquote>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from</p>
                        <span> - John Doe</span>
                      </blockquote>-->
                      <div class="blog-single-bottom">
                        <div class="row">
                          <div class="col-md-8">
                            <div class="blog-single-tag">
                              <span class="fa fa-tags"></span>
                              {% for category in blog.category.all %}
                                <a href="{% url 'news:categorys' category.id %}">{{category.name}}</a>
                              {% endfor %}
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="blog-single-social">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-instagram"></i></a>
                              <!--<a href="#"><i class="fa fa-linkedin"></i></a>
                              <a href="#"><i class="fa fa-google-plus"></i></a>
                              <a href="#"><i class="fa fa-pinterest"></i></a>-->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                  <!-- Start blog navigation -->
                 <!-- <div class="blog-navigation-area">
                    <div class="blog-navigation-prev">
                      <a href="#">
                        <h5>All about writing story</h5>
                        <span>Previous Post</span>
                      </a>
                    </div>
                    <div class="blog-navigation-next">
                      <a href="#">
                        <h5>All about friends story</h5>
                        <span>Next Post</span>
                      </a>
                    </div>
                  </div>-->
                  <!-- Start Comment box -->
                  <!--<div class="comments-box-area">
                    <h2>Leave a Comment</h2>
                    <p>Your email address will not be published.</p>
                    <form action="" class="comments-form">
                      <div class="form-group">                        
                        <input type="text" class="form-control" placeholder="Your Name">
                      </div>
                      <div class="form-group">                        
                        <input type="email" class="form-control" placeholder="Email">
                      </div>
                      <div class="form-group">                        
                        <textarea placeholder="Comment" rows="3" class="form-control"></textarea>
                      </div>
                      <button class="comment-btn">Submit Comment</button>
                    </form>
                  </div>-->
                </div>
              </div>
              <div class="col-md-4">
                <aside class="blog-side-bar">
                  <!-- Start sidebar widget -->
                  <div class="sidebar-widget">
                    <!-- Start blog search -->
                    <form>                    
                      <div class="search-group">                        
                        <button type="button" class="blog-search-btn"><span class="fa fa-search"></span></button>
                        <input type="search" placeholder="Search">
                      </div>                    
                    </form>
                    <!-- End blog search -->                                
                  </div>
                  <!-- Start sidebar widget -->
                  <div class="sidebar-widget">
                    <h4 class="widget-title">Categorías</h4>
                    <ul class="widget-catg">                      
                        {% for category in categorys %}                   
                        <li><a href="{% url 'news:categorys' category.id %}">{{category.name}}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <!-- Start sidebar widget -->
                  <!--<div class="sidebar-widget">
                    <h4 class="widget-title">Text Widget</h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                  </div>-->
                  <!-- Start sidebar widget -->
                  <!--<div class="sidebar-widget">
                    <h4 class="widget-title">Tags</h4>
                    <div class="tag-cloud">
                      <a href="#">Responsive</a>
                      <a href="#">Design</a>
                      <a href="#">Modern</a>
                      <a href="#">Business</a>
                      <a href="#">Software</a>
                      <a href="#">Photoshop</a>
                      <a href="#">Fashion</a>                      
                      <a href="#">News</a>
                      <a href="#">Health</a>
                      <a href="#">Education</a>
                    </div>
                  </div>-->
                  <!-- Start sidebar widget -->
                  <!--<div class="sidebar-widget">
                    <h4 class="widget-title">Archive</h4>
                    <ul class="widget-archive">
                      <li><a href="#">November 2015<span>(35)</span></a></li>
                      <li><a href="#">October 2015<span>(55)</span></a></li>
                      <li><a href="#">September 2015<span>(65)</span></a></li>
                      <li><a href="#">August 2015<span>(75)</span></a></li>
                      <li><a href="#">July 2015<span>(105)</span></a></li>
                    </ul>
                  </div>-->
                  <!-- Start sidebar widget -->
                  <!--<div class="sidebar-widget">
                    <h4 class="widget-title">Important Links</h4>
                    <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                      <li><a href="#">Link 4</a></li>
                    </ul>
                  </div>-->
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </section>
  <!-- End blog archive -->

  <!-- Start subscribe us -->
  <!--<section id="subscribe">
    <div class="subscribe-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="subscribe-area">
              <h2>Subscribe Newsletter</h2>
              <form action="" class="subscrib-form">
                <input type="text" placeholder="Enter Your E-mail..">
                <button class="subscribe-btn" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End subscribe us -->

  {% endblock %}