{% extends 'core/base2.html' %}
{% block page-title %}CONTÁCTANOS{% endblock %}
{% block page-subtitle %} {% endblock %}
{% block content %}
{% load static %}
  <!-- Start contact section  -->
  <section id="contact">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <div class="title-area">
              <h2 class="title">QUEREMOS ESCUCHARTE</h2>
              <span class="line"></span>
              <p>En la Caja de Ahorro del Ejécito Bolivariano queremos abrir una ventanas para que te puedas comunicar con nosotros de manera directa. Escribe tu comentario, dudas, sugerencias y requerimientos que con gusto estaremos dispuestos a atenderte, porque Caejerb son sus asociados.</p>
            </div>
         </div>
         <div class="col-md-12">
           <div class="cotact-area">
             <div class="row">
               <div class="col-md-4">
                 <div class="contact-area-left">
                   <h4>Vísitanos</h4>
                   <p>Caja de Ahorro del Ejercito Bolivariano (CAEJERB) </p>
                   <address class="single-address">
                     <p>P.O. Avenida Las Escuelas. Edificio Caja de Ahorro del Ejército. Sector Fuerte Tiuna. El Valle,  Caracas.</p>
                     <p>info@caejerb.com.ve</p>
                     <p>+(58) 212-937-51-22</p>
                   </address> 
                   <div class="footer-right contact-social">
                      <a href="index.html"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                      <!--<a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                      <a href="#"><i class="fa fa-pinterest"></i></a>-->
                    </div>                
                 </div>
               </div>
               <div class="col-md-8">
                 <div class="contact-area-right">
                   <form action="" class="comments-form contact-form">
                    <div class="form-group">                        
                      <input type="text" class="form-control" placeholder="Tu Nombre">
                    </div>
                    <div class="form-group">                        
                      <input type="email" class="form-control" placeholder="Correo">
                    </div>
                     <div class="form-group">                        
                      <input type="text" class="form-control" placeholder="Asunto">
                    </div>
                    <div class="form-group">                        
                      <textarea placeholder="Comentario" rows="3" class="form-control"></textarea>
                    </div>
                    <button class="comment-btn">Enviar</button>
                  </form>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
  </section>
  <!-- End contact section  -->

  <!-- Start google map -->
  <section id="google-map">
   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15694.548476710172!2d-66.9098168!3d10.4503431!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6072bbe6c8658e7e!2sCaja%20de%20Ahorro%20del%20Ej%C3%A9rcito%20Bolivariano!5e0!3m2!1ses-419!2sve!4v1574997714216!5m2!1ses-419!2sve" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </section>
  <!-- End google map -->
{% endblock %}

  
