{% extends 'core/base.html' %}
{% block content %}
{% load static %}

<style>
    p {
        text-align: justify;
    }
</style>
  
  <!-- Start about  -->
  <section id="about">
    <div class="container">
      <div class="row">
        <!--<div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Sobre nosotros</h2>
            <span class="line"></span>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
          </div>
        </div>-->
        <div class="col-md-12">
          <div class="about-content">
            <div class="row">
              <div class="col-md-12">
                <div class="why-choose-us">
                  <h3>ALIMENTOS CAEJERB</h3>
                  <div class="panel-group why-choose-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            ALIMENTOS CAEJERB <span class="fa fa-minus-square"></span>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                        <img class="why-choose-img" src="{% static 'core/images/EMPR4-TRANS.png' %}" alt="img">
                         <p> Somos una empresa encargada de la producción, transformación, industrialización, empaque, molienda, almacenamiento, transporte, distribución, compra-venta  al mayor y detal, importación y exportación por cuenta propia o de terceros, de alimentos de consumo humano y animal. </p>
                         <p>Así mismo realizamos la fabricación y adquisición de insumos, materia prima y maquinarias, equipos y accesorios, con el fin de abastecer a la pequeña y mediana agroindustria.</p>
                         <p>Además de comercializar verduras, frutas, legumbres; productos piscícolas, avícolas y sus derivados, productos lácteos en forma al mayor y detal, víveres, charcutería, delicateses, así como de actividades relacionadas con el ramo</p>

                        
                      </div>
                      </div>
                    </div>
                    <div class="panel panel-default ">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                           Misión <span class="fa fa-minus-square"></span>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                         <p>Ser una empresa capaz de impulsar la seguridad y soberanía alimentaria a toda la población, en articulación con los órganos competentes y el sector productivo, con predominio de la producción nacional, basado en el modelo social productivo eficiente, socialista, humanista y endógeno; con la participación masiva de la comunidad, en el marco de los principios y valores de la Revolución Bolivariana. </p>
                         
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default ">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Visión <span class="fa fa-plus-square"></span>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                         <p>Garantizar el acceso de los alimentos a la población a pecios justos, mediante  la distribución,  recepción, almacenamiento, depósito, conservación, transporte,  entrega, colocación, calidad y consumo, las cuales cumplan en su justa medida con el proceso de nutrición de las familias Venezolanas.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Estructura  Organizacional  <span class="fa fa-plus-square"></span>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p></p>
                        </div>
                      </div>
                    </div>
                     <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            Servicios <span class="fa fa-plus-square"></span>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                          <p>

 </p>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about -->
{% endblock%}