{% extends 'core/base.html' %}
{% block content %}
{% load static %}

<style>
    p {
        text-align: justify;
    }
</style>
  
  <!-- Start about  -->
  <section id="about">
    <div class="container">
      <div class="row">
        <!--<div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Sobre nosotros</h2>
            <span class="line"></span>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
          </div>
        </div>-->
        <div class="col-md-12">
          <div class="about-content">
            <div class="row">
              <div class="col-md-12">
                <div class="why-choose-us">
                  <h3>EMPRESA DE PRODUCCIÓN CAEJERB</h3>
                  <div class="panel-group why-choose-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            EMPRESA DE PRODUCCIÓN CAEJERB <span class="fa fa-minus-square"></span>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                        <img class="why-choose-img" src="{% static 'core/images/EMPR1-TRANS.png' %}" alt="img">
                         <p>Somos una Empresa dedicada a la compra, venta, comercialización, distribución, importación y exportación de todo tipo de materias primas, insumos, herramientas y maquinarias para el procesamiento, elaboración, semi-elaboración de productos terminados, acabados, así como la confección y diseño de: prendas varias de vestir y calzado para damas, caballeros, niños y jóvenes, además de bordados, tapetes, alfombras, cortinas entre otras similares; así como todo lo relacionado al ramo de la industria textil, colchonería en toda su amplitud.  </p>

                        <p>En el ramo tecnológico, contamos con equipos y productos de telefonía y accesorios. De igual manera en servicios de reproducción digital, gigantografía, fotografía, imprenta, centro de copiado, entre otros.</p>
                      </div>
                      </div>
                    </div>
                    <div class="panel panel-default ">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                           Misión <span class="fa fa-minus-square"></span>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                        
                         <p>Lograr la satisfacción de Nuestra Sociedad Militar y su entorno, mediante la fabricación y comercialización de productos textiles de alto valor y calidad, que garanticen una utilidad competitiva. </p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default ">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Visión <span class="fa fa-plus-square"></span>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                         <p>Ofrecer productos de alto valor y calidad, a la sociedad militar y su entorno, como una estructura sólida y revolucionaria, en el campo de producción textil, para contribuir en el cumplimiento de la Defensa integral y la participación activa en el desarrollo de la Nación Venezolana, misiones que tienen por objetivo garantizar la mayor suma de felicidad a nuestro pueblo y pueblos hermanos, mediante el fiel cumplimiento del principio de corresponsabilidad.</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Estructura  Organizacional  <span class="fa fa-plus-square"></span>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                          <p></p>
                        </div>
                      </div>
                    </div>
                     <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            Producto <span class="fa fa-plus-square"></span>
                          </a>
                        </h4>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                           
                          <p> </p>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about -->
{% endblock %}