{% extends 'core/base.html' %}
{% load static %}
{% block title %}Solicitud de Prestamo{% endblock %}
{% block content %}
    {% load static %}
<!-- Start Service -->
  <section id="service">
    <div class="container" style = "height:550px">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Disfruta todos los beneficios de nuestra web</h2>
            <span class="line"></span>
            <br/>
            {% comment %} <p>Para solicitar su retiro total de la Caja de Ahorro del Ejército Bolivariano, debe escribir un correo electrónico a info@caejerb.com.ve, solicitando su desvinculación y adjuntando la siguiente documentación.</p> {% endcomment %}
          </div>
        </div>
        <div class="col-md-12">
          <div class="blog-archive-area">
          <div class="row">
            <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="blog-archive-left">
                  <article class="blog-news-single">
                    <div class="blog-news-title">
                      {% comment %} <h2>All about writing story</h2> {% endcomment %}
                      
              {% comment %} <center><p><a class="purchase-btn" href="/static/core/descargas/PRESTAMO3.pdf">Descargar Planilla</a></p></center>
              <br/>
              <p>Solicita el apoyo de otro asociado de Caejerb y pide tu fianza.</p> {% endcomment %}
                    </div>
                    <p>Ahora puedes visualizar e imprimir tu estado de cuenta, retiro de haberes, solicitar préstamos y fianzas a través de nuestra página web www.caejerb.com.ve.</p>
                    <br/>
                    {% comment %} <iframe width="700" height="400" src="https://www.youtube.com/embed/o5qrxrNf4Qs?list=PLrDzSDyY9TvuCJ5pZ6Ps7QpvmaRb0v5mN" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/392004939" width="700" height="400" frameborder="0" allowfullscreen></iframe>{% endcomment %}
					<video width="700" height="400" controls>
					  <source src="{% static 'core/videos/video.mp4' %}" type="video/mp4">
					  
					</video>
                    <p></p>
{% comment %} (Agregar el video de youtube https://youtu.be/o5qrxrNf4Qs) {% endcomment %}
                    <p>Solo necesitarás de cinco (5) pasos para hacerlo:</p>
                    <ol>
                      <li>Ingresa en www.caejerb.com.ve.</li>
                      <li>En la parte superior derecha, dale clic a <a href = "{% url 'cedula' %}">Regístrate</a>.</li>
                      <li>Introduce tu número de cédula. Haz clic en el botón Verificar.</li>
                      <li>Ingresa tu correo electrónico y contraseña. Haz clic en el botón Confirmar.</li>
                      <li>Inicia sesión. Introduce tu cédula de identidad, contraseña y haz clic en Acceder.</li>
                    </ol>
                    <p>¡Listo! Ya puedes disfrutar de los servicios que te ofrecemos en www.caejerb.com.ve</p>

                    <p>Una vez iniciada tu sesión, puedes ir al apartado de servicios, en el menú principal, o en los servicios destacados de la página de inicio, y darle clic</p>

                    <p>Si deseas solicitar un préstamo, dale clic <a href="{% url 'prestamo'%}">aquí</a> y allí podrás descargar la planilla, según el tipo de préstamo que vayas a solicitar.</p>
                    <p>En caso de que quiera solicitar una fianza, haz clic <a href="{% url 'fianza'%}">aquí</a>.</p>

                    <p>Para hacer la solicitud del retiro de sus haberes, haz clic <a href="{% url 'retiro'%}">aquí</a>

                    <p>Disfruta de todos los beneficios que hemos habilitado para ti. ¡Caejerb son sus asociados! Fomentando el ahorro eficaz.</p>                      
                  </article>
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
          {% comment %} <div class="service-content">
            <div class="row">
              <p>Imprima, rellene y firme la planilla.
                Entregue en la Oficina de Nómina de la Caja de Ahorro del Ejército Bolivariano, ubicada en la Avenida Las Escuelas. Edificio Caja de Ahorro del Ejército. Sector Fuerte Tiuna. El Valle, Caracas.</p>
              <p><a class="purchase-btn" href="/static/core/descargas/PRESTAMO2.pdf">Descargar Planilla</a></p>
              <br/>
              <p>Solicita el apoyo de otro asociado de Caejerb y pide tu fianza.</p>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </section>
  <!-- End Service -->
{% endblock %}
{% block footerstyle %}  position:fixed;bottom: 0; {% endblock %}