{% extends 'core/base.html' %}
{% load static %}
{% block title %}Solicitud de Prestamo{% endblock %}
{% block content %}
    {% load static %}
<!-- Start Service -->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Solicitudes de Préstamos</h2>
            <span class="line"></span>
            <br/><br/><br/>
            <p>Tipos de Préstamos que ofrecemos en la Caja de Ahorro.</p>
            <p>Imprima, rellene y firme la planilla. Para que su solicitud de préstamo sea tramitada, deberá entregar esta planilla en la Oficina de Nómina de la Caja de Ahorro del Ejército Bolivariano, ubicada en la Avenida Las Escuelas. Edificio Caja de Ahorro del Ejército. Sector Fuerte Tiuna. El Valle, Caracas.</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="service-content">
            <div class="row">
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o  service-icon"></i>
                  <h4 class="service-title">a Corto plazo</h4>
                  <p style="text-align:justify">
                    Pagadero en 3 meses, con una tasa del 12% anual y hasta el 80% de sus haberes.<br/><br/>
                  </p>

                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO2.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">a Mediano plazo</h4>
                  <p style="text-align:justify">
                    Pagadero en 6 meses, con una tasa del 12% anual y hasta el 80% de sus haberes.<br/><br/>
                  </p>

                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO2.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">a Largo plazo</h4>
                  <p style="text-align:justify">
                    Pagadero en 12 meses, con una tasa del 12% anual y hasta el 80% de sus haberes.<br/><br/>
                  </p>

                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO2.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Especial</h4>
                  <p style="text-align:justify"> 
                    Pagadero en 18 meses, con una tasa del 12% anual y hasta tres (3) veces el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO1.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Línea Marrón</h4>
                  <p style="text-align:justify"> 
                    Pagadero en 6 meses, con una tasa del 12% anual y hasta el 80% de sus haberes.  <br/><br/>
                  </p>
                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO1.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->
              
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Vehículo</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 18 meses, con una tasa del 12% anual con Reserva de Dominio. <br/><br/>
                  </p>
                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO1.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Juguetería</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 12% anual y hasta el 80% de sus haberes.<br/><br/>
                  </p>
                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO1.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Reservista</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 12% anual y hasta el 80% de sus haberes.<br/><br/>
                  </p>
                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO1.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->

               <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Casa Comercial</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 12, 24 y 36 meses, con una tasa del 12% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO1.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Tienda Temporada</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 12% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO1.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Recreación</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 8% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO1.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Servicio de Restaurante</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 10% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO1.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Servicio de Peluquería</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 10% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO1.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Útiles Escolares</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 8% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO1.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Farmaejerb</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 6% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO1.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Servicio de Previsión Fúnebre</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 4% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO1.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Tratamiento Excluido de Seguros Horizontes</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 8% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_new" href="{% static 'core/descargas/PRESTAMO1.pdf' %}">Descargar Planilla</a>
                </div>
              </div>
              <!-- End single service -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service -->
{% endblock %}
{% block footerstyle %}  position:fixed;bottom: 0; {% endblock %}