{% extends 'core/base.html' %}
{% load static %}
{% block title %}Solicitud de Prestamo{% endblock %}
{% block content %}
    {% load static %}
<!-- Start Service -->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-area">
            <h2 class="title">Solicitudes de Préstamos</h2>
            <span class="line"></span>
            <br/><br/><br/>
            <p>Rellene la planilla para que su solicitud de préstamo sea tramitada por la Oficina de Nómina de la Caja de Ahorro del Ejército Bolivariano.</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="service-content">
            <div class="row">
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o  service-icon"></i>
                  <h4 class="service-title">Ordinario </h4>
                  <p style="text-align:justify">
                    Pagadero en 3, 6 o 12 meses, con una tasa del 12% anual y hasta el 80% de sus haberes.<br/>
                  </p>
                  {% comment %} <a class="purchase-btn" target="_blank" href="{% static 'core/descargas/PRESTAMO2.pdf' %}">Descargar Planilla</a> {% endcomment %}
                  <a class="purchase-btn" target="_blank" href="{% url 'pordinario' %}">Solicitar</a>
                </div>
              </div>
              <!-- End single service -->


              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Especial</h4>
                  <p style="text-align:justify"> 
                    Pagadero en 18 meses, con una tasa del 12% anual y hasta tres (3) veces el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_blank" href="{% url 'ptienda' 1 %}">Solicitar</a>
                </div>
              </div>
              <!-- End single service -->
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Línea Marrón</h4>
                  <p style="text-align:justify"> 
                    Pagadero en 6 meses, con una tasa del 12% anual y hasta el 80% de sus haberes.  <br/><br/>
                  </p>
                  <a class="purchase-btn" target="_blank" href="{% url 'ptienda' 2 %}">Solicitar</a>
                </div>
              </div>
              <!-- End single service -->
              
              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Vehículo</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 18 meses, con una tasa del 12% anual con Reserva de Dominio. <br/><br/>
                  </p>
                  <a class="purchase-btn" target="_blank" href="{% url 'ptienda' 3 %}">Solicitar</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Juguetería</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 12% anual y hasta el 80% de sus haberes.<br/><br/>
                  </p>
                  <a class="purchase-btn" target="_blank" href="{% url 'ptienda' 4 %}">Solicitar</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Reservista</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 12% anual y hasta el 80% de sus haberes.<br/><br/>
                  </p>
                  <a class="purchase-btn" target="_blank" href="{% url 'ptienda' 5 %}">Solicitar</a>
                </div>
              </div>
              <!-- End single service -->

               <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Casa Comercial</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 12, 24 y 36 meses, con una tasa del 12% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_blank" href="{% url 'ptienda' 6 %}">Solicitar</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Tienda Temporada</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 12% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_blank" href="{% url 'ptienda' 7 %}">Solicitar</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Recreación</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 8% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_blank" href="{% url 'ptienda' 8 %}">Solicitar</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Servicio de Restaurante</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 10% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_blank" href="{% url 'ptienda' 9 %}">Solicitar</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Servicio de Peluquería</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 10% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_blank" href="{% url 'ptienda' 10 %}">Solicitar</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Útiles Escolares</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 8% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_blank" href="{% url 'ptienda' 11 %}">Solicitar</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Farmaejerb</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 6% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_blank" href="{% url 'ptienda' 12 %}">Solicitar</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Servicio de Previsión Fúnebre</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 4% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_blank" href="{% url 'ptienda' 13 %}">Solicitar</a>
                </div>
              </div>
              <!-- End single service -->

              <!-- Start single service -->
              <div class="col-md-4 col-sm-6">
                <div class="single-service wow zoomIn">
                  <i class="fa fa-file-pdf-o service-icon"></i>
                  <h4 class="service-title">Tratamiento Excluido de Seguros Horizontes</h4>
                  <p style="text-align:justify"> 
                     Pagadero en 6 meses, con una tasa del 8% anual y hasta el 80% de sus haberes.
                  </p>
                  <a class="purchase-btn" target="_blank" href="{% url 'ptienda' 14 %}">Solicitar</a>
                </div>
              </div>
              <!-- End single service -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service -->
{% endblock %}
{% block footerstyle %}  position:fixed;bottom: 0; {% endblock %}