{% extends 'core/base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-5 mx-auto mb-5">
          <h3>Saldos - Resumen</h3> <br/>
          <table>
            <tr>
              <th>Haberes</th>
              <th>Deudas</th>
              <th>Prestamos disponible</th>
              <th>Disponible fianzas</th>
              <th>saldo</th>
              <th>fecha</th>
            </tr>
            {% if row %}
              <tr>
                {% for item in row %}
                  <td>{{ item }}</td>
                {% endfor %}
              </tr>
            {% endif%}
          </table>
      </div>
    </div>
  </div>
</main>
 <br/>
{% endblock %}