{% extends 'core/base.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}
  {% if request.user.is_authenticated %}
    <script>window.location.href = '/accounts/profile/'; </script>
  {% endif %}
<style>.errorlist{color:red;}</style>
<main role="main" style = "height:800px">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-12 mx-auto mb-5">
        <center style="margin-top: 5%">
        <form action="" method="post">{% csrf_token %}
          <h3 class="mb-4">Iniciar sesión</h3>
          {% if form.non_field_errors %}
            <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
          {% endif %}
          <p>
            <input type="text" name="username" autofocus maxlength="254" required
              id="id_username" class="form-control" placeholder="Cédula" style ="width:30%"/>
          </p>
          <p>
            <input type="password" name="password" required
              id="id_password" class="form-control" placeholder="Contraseña" style ="width:30%"/>
          </p>
          {% if 'register' in request.GET %}
            <p style="color:green;">Usuario registrado correctamente, ya puedes identificarte.</p>
          {% endif %}
          <p><input type="submit" class="btn purchase-btn btn-block" value="Acceder" style ="width:25%"></p>
        </form>
        <p>&nbsp;</p>
        <p>
          ¿Ha olvidado su clave? Puede restaurarla <a href="{% url 'password_reset' %}">aquí</a>.
        </p>
        <br/><br/>
        </center>
          <b>Nota importante: </b> Para poder ingresar a las secciones de Saldos, Préstamos, Fianza y Retiro de haberes, es necesario que inicies sesión. Si aún no te has registrado, crea tu usuario  <a href="{% url 'cedula' %}">aquí</a>.
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}